@keyframes bouncingLoader {
  from {
    width: 1rem;
    height: 1rem;
    opacity: 1;
    transform: translate3d(0);
  }
  to {
    width: 5rem;
    height: 5rem;
    opacity: 0.1;
    transform: translate3d(0, -5rem, 0);
  }
}
@keyframes loadHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}
* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: unset;
  color: unset;
}

a {
  text-decoration: none;
  color: inherit;
}

/*LAND PAGE*/
.jumbotron--featured {
  color: #fff;
}

.buttons .btn-default {
  color: #fff;
  font-size: unset;
  font-weight: bold;
  color: unset;
}

.footer {
  font-size: 1.2rem;
  text-align: center;
}

/*HOME PAGE*/
.navbar-brand {
  font-size: 1.9rem;
  font-weight: 700;
  color: unset;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .jumbotron--featured {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .jumbotron--featured {
    text-align: center;
    font-size: 1rem;
  }
}
.footer {
  background-color: #eee;
  margin: 5rem 0 0 0;
  padding: 2rem;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .container p:nth-child(2):hover {
  transform: scale(1.05);
}
.footer .container p:nth-child(2) a {
  color: #ff7b00;
  text-decoration: none;
}
.footer .social-media {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer .social-media li {
  list-style-type: none;
}
.footer .social-media li a:hover {
  color: #ff7b00;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
}
.navbar {
  background: transparent;
}
.navbar-brand img {
  width: 5rem;
}

.loader {
  z-index: 1;
  position: fixed;
  top: 0;
  right: unset;
  bottom: unset;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  animation: loadHide 3s 4s forwards;
}
.loaderSpan {
  background-color: aqua;
  border-radius: 50%;
  margin: 5rem 0.5rem;
  animation: bouncingLoader 0.7s infinite alternate;
}
.loader .load2 {
  animation-delay: 0.2s;
}
.loader .load3 {
  animation-delay: 0.4s;
}

/*Add a cover background picture for the featured part with a fixed height*/
.jumbotron {
  background: url("../../img/pexels-vincent-gerbouin-1174732.jpg") center center;
  background-size: cover;
  height: 45rem;
}
.jumbotron--logo img {
  width: 6rem;
  height: 6rem;
}
.jumbotron--featured {
  margin: 2rem 0 0 0;
  padding: unset;
}
.jumbotron--featured .title {
  text-shadow: 3px 3px 5px #ff7b00;
}
.jumbotron--featured .subTitle {
  font-size: 1.7rem;
  font-weight: 500;
  color: unset;
  text-shadow: 3px 3px 5px #ff7b00;
}

.trial {
  text-align: center;
}
.trial--title {
  font-weight: 700;
  margin: 2rem;
}
.trial--images > img {
  width: 15rem;
  margin: 2rem;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .jumbotron {
    height: 35rem;
    margin: 0;
  }
  .jumbotron--logo img {
    width: 4rem;
    height: 4rem;
  }

  .trial--images img {
    width: 10rem;
    margin: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .jumbotron {
    height: 50rem;
  }
  .jumbotron .container {
    padding: 0;
  }
  .jumbotron--logo img {
    width: 4rem;
    height: 4rem;
  }
}
.wrapperCompany {
  background: url("../../img/cheers-204742__340.webp") center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.buttons {
  margin: 2.5rem 0 0 0;
  padding: unset;
}
.buttons a {
  background-color: rgba(82, 37, 22, 0.5);
  border-radius: 10px;
  margin-right: 1.5rem;
}
.buttons a:hover {
  background-color: #522516;
}

@media screen and (max-width: 480px) {
  .buttons a {
    margin-top: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
