/*LAND PAGE*/
.jumbotron--featured {
  color: $white-clr;
}

.buttons .btn-default {
  color: $white-clr;
  @include texte_style($font-weight: bold);
}

.footer {
  font-size: 1.2rem;
  text-align: center;
}
/*HOME PAGE*/
.navbar {
  &-brand {
    @include texte_style($font-size: 1.9rem, $font-weight: 700);
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .jumbotron--featured {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .jumbotron--featured {
    text-align: center;
    font-size: 1rem;
  }
}
