/*LAND PAGE*/
.landPage--featured {
  color: $white-clr;
}

.buttons .btn-default {
  color: $white-clr;
  @include texte_style($font-weight: bold);
}

.footer {
  font-size: 1.2rem;
  text-align: center;
  color: $white-clr;
}
/*HOME PAGE*/
.wrapperCompany {
  color: $white-clr;
}
.navbar {
  &-brand {
    @include texte_style($font-size: 1.9rem, $font-weight: 700);
  }
}

.heading {
  text-align: center;
  letter-spacing: 2px;
}

.offer--button {
  color: $white-clr;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .landPage--featured {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .landPage--featured {
    text-align: center;
    font-size: 1rem;
  }
}
