.wrapperCompany {
  background: url("../../img/cheers.webp") center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.heading {
  background-color: transparent;
  color: $white-clr;
}
.instruction {
  .cardImg {
    height: 130px;
  }
}
